/* .bgColor{
    background: #454142;
}
.TextColor{
    color: #dbdad9;
}
.TextColor2{
    color: #d09f5f;
} */


.txt-lt {
    color: #dad9d8;
}

.bg-dk {
    background-color: #525052;
}

.bg-lt {
    background-color: #dad9d8;
}

.txt-gd {
    color: #a8754d;
}

.txt-gl {
    color: #eac577;
}

.hover-gl:hover {
    color: #eac577;
}