/* .bgColor{
    background: #454142;
}
.TextColor{
    color: #dbdad9;
}
.TextColor2{
    color: #d09f5f;
} */


.txt-lt {
    color: #dad9d8;
}

.bg-dk {
    background-color: #525052;
}

.bg-lt {
    background-color: #dad9d8;
}

.txt-gd {
    color: #a8754d;
}

.txt-gl {
    color: #eac577;
}

.hover-gl:hover {
    color: #eac577;
}



@layer base {

    /* Custom scrollbar styles */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #a8754d;
        /* your gold color */
        border-radius: 4px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #eac577;
        /* your light gold color */
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-track:hover {
        background: #e1e1e1;
    }
}


/* swipper of category */

/* Resize swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  font-size: 14px !important;
  width: 28px !important;
  height: 28px !important;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000;
}

/* Optional: Hide arrows on small screens */
@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
